.add-product__list {
  @include list-reset ();
}

.add-product__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px 0 17px;

  border-bottom: 1px solid $bg-color-8;
}

.add-product__item:first-child {
  border-top: 1px solid $bg-color-8;
}

.add-product__link {
  text-decoration: none;
  color: inherit;
}

.add-product__title {
  margin: 0;
  padding: 0 0 12px;

  font-family: $font-family-2;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $font-color-3;
}

.add-product__desc {
  width: 100%;
  margin: 0 0 15px;

  border-collapse: collapse;
  border-spacing: 0;
}

.add-product__desc tbody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-product__tr {
  width: 100%;

  font-size: 14px;
  line-height: 14px;
}

.add-product__field {
  width: 140px;
  padding: 0;

  text-align: left;
}

.add-product__value {
  width: 140px;
  padding: 0;

  text-align: right;
}

.add-product__button {
  width: 280px;
  margin: 0;
  padding: 10px 20px;

  font-family: $font-family-2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color-4;

  background-color: $bg-color-3;
}

@media (min-width: $tablet-width) {
  .add-product__item {
    flex-direction: row;
    padding: 25px 38px 26px;
  }

  .add-product__title {
    padding: 0 0 27px;

    font-size: 20px;
    line-height: 20px;
  }

  .add-product__desc {
    width: 314px;
    margin-top: 4px;
  }

  .add-product__tr {
    font-size: 16px;
    line-height: 20px;
  }

  .add-product__field {
    width: 218px;

    text-align: right;
  }

  .add-product__value {
    width: 96px;
  }

  .add-product__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .add-product__item {
    padding: 15px 0 0;
  }

  .add-product__title {
    width: 327px;
    padding: 10px 166px 26px 0;
  }

  .add-product__desc {
    width: 323px;
    margin-top: 14px;
  }

  .add-product__field {
    width: 227px;
    text-align: left;
  }

  .add-product__value {
    padding: 0 0 0 15px;

    text-align: left;
  }

  .add-product__button {
    width: 245px;
  }
}
