.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
}

.page-header__logo {
  height: 65px;

  border-bottom: 1px solid $bg-color-3;
}

.page-header__logo-img {
  width: 192px;
  height: 38px;
  padding: 11px 108px 16px 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    width: $tablet-width;
  }

  .page-header__logo {
    width: 203px;
    height: 82px;
    margin: 0;

    border: none;
  }

  .page-header__logo-img {
    display: block;
    width: 173px;
    height: 58px;
    padding: 24px 0 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__logo {
    width: 242px;
    height: 113px;
  }

  .page-header__logo-img {
    width: 202px;
    height: 59px;
    padding: 54px 0 0 40px;
  }
}
