.production {
  width: $mobile-width;
  margin: 0 auto;
}

.production__list {
  display: flex;
  flex-direction: column;

  @include list-reset ();
}

.production__item {
  position: relative;

  width: 280px;
  margin: 20px 20px 0 20px;

  background-color: #f2f2f2;
}

.production__item:last-child {
  margin-bottom: 20px;
}

.production__item::before {
  content: "";

  position: absolute;
  top: 25px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: $green;
  border-radius: 50%;
}

.production__item::after {
  content: "";

  position: absolute;
}

.production__item:nth-child(1)::after {
  top: 22px;
  left: 30px;

  width: 35px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");
}

.production__item:nth-child(2)::after {
  top: 35px;
  left: 13px;

  width: 67px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");
}

.production__title {
  margin: 0;
  padding: 30px 20px 24px 91px;

  font-family: $font-oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.production__text {
  position: relative;

  margin: 0;
  padding: 5px 20px 20px;
}

.production__text::after {
  content: "";

  position: absolute;
  left: 20px;
  bottom: -3px;

  width: 240px;
  height: 1px;

  background-color: #d9d9d9;
}

.production__link {
  position: relative;

  display: block;
  width: 140px;
  padding: 20px 30px 24px 22px;

  font-family: $font-oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  box-sizing: border-box;
}

.production__link::after {
  content: "";

  position: absolute;
  bottom: 24px;
  right: 0;

  width: 24px;
  height: 11px;

  background-image: url("../img/icon-right-arrow-long.svg");
}

@media (min-width: $tablet-width) {
  .production {
    width: $tablet-width;
  }

  .production__item {
    width: 708px;
    margin: 30px 30px 0 30px;
  }

  .production__item:last-child {
    margin-bottom: 30px;
  }

  .production__item::before {
    top: 92px;
    left: 446px;

    width: 200px;
    height: 200px;
  }

  .production__item:nth-child(1)::after {
    top: 80px;
    left: 476px;

    width: 140px;
    height: 194px;
  }

  .production__item:nth-child(2)::after {
    top: 135px;
    left: 412px;

    width: 268px;
    height: 112px;
  }

  .production__title {
    padding: 76px 410px 15px 53px;

    font-size: 36px;
  }

  .production__text {
    padding: 10px 275px 40px 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .production__item:nth-child(2) .production__text {
    padding-right: 315px;
  }

 .production__text::after {
    display: none;
  }

  .production__link {
    width: 180px;
    margin: 0 0 34px 30px;

    font-size: 20px;
    line-height: 20px;
  }

  .production__link::after {
    bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: $desktop-width;
  }

  .production__list {
    flex-direction: row;
  }

  .production__item {
    width: 570px;
    margin: 80px 40px 50px 40px;
  }

  .production__item:last-child {
    margin-bottom: 50px;
  }

  .production__item::before {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  .production__item:nth-child(1)::after {
    top: 41px;
    left: 66px;

    width: 70px;
    height: 97px;
  }

  .production__item:nth-child(2)::after {
    top: 69px;
    left: 34px;

    width: 134px;
    height: 56px;
  }

  .production__title {
    padding: 75px 111px 50px 214px;
  }

  .production__text {
    padding: 24px 52px 12px;
  }

  .production__item:nth-child(2) .production__text {
    padding-right: 52px;
  }

  .production__link {
    margin-bottom: 38px;
  }
}
