.production {
  width: $mobile-width;
  margin: 0 auto;
}

.production__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include list-reset ();
}

.production__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 280px;
  margin: 12px 20px 8px;
  padding: 25px 20px 16px;

  background-color: $bg-color-5;

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: $bg-color-3;
    border-radius: 50%;
  }
}

.production__img {
  position: absolute;

  &--cat-slim {
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;
  }

  &--cat-pro {
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;
  }
}

.production__title {
  margin: 0;
  padding: 4px 20px 12px 71px;

  font-family: $font-family-2;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $font-color-2;
}

.production__text {
  position: relative;

  margin: 0;
  padding: 20px 0 36px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 15px;

    width: 240px;
    height: 1px;

    background-color: $bg-color-6;
  }
}

.production__link {
  position: relative;

  padding: 5px 36px 5px 0;

  font-family: $font-family-2;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color-2;

  &::after {
    content: "";

    position: absolute;
    bottom: 8px;
    right: 0;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
  }
}


@media (min-width: $tablet-width) {
  .production {
    width: $tablet-width;
  }

  .production__item {
    width: 708px;
    margin: 30px 30px 0 30px;
    padding: 64px 275px 60px 52px;

    &::before {
      top: 92px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }
  }

  .production__img {
    &--cat-slim {
      top: 80px;
      right: 92px;
      left: auto;

      width: 140px;
      height: 194px;
    }

    &--cat-pro {
      top: 135px;
      right: 28px;
      left: auto;

      width: 268px;
      height: 112px;
    }
  }

  .production__title {
    padding: 10px 0;

    font-size: 36px;
  }

  .production__text {
    padding: 15px 0 50px;

    font-size: 16px;
    line-height: 24px;

    &--cat-pro {
      padding: 15px 40px 50px 0;
    }

    &::after {
      display: none;
    }
  }

  .production__link {
    padding: 5px 46px 5px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: $desktop-width;
  }

  .production__list {
    flex-direction: row;
  }

  .production__item {
    width: 570px;
    margin: 80px 40px 50px 40px;
    padding: 75px 52px 58px;

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  .production__img {
    &--cat-slim {
      top: 41px;
      left: 66px;

      width: 70px;
      height: 97px;
    }

    &--cat-pro {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 56px;
    }
  }

  .production__title {
    padding: 0 0 74px 162px;
  }

  .production__text {
    padding: 0 0 26px;
  }
}
