.site-list {
  font-family: $font-family-2;
}

.site-list__item a {
  display: block;
  padding: 22px 20px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color-2;

  background-color: $bg-color-1;
  border-top: 1px solid $bg-color-3;
  border-bottom: 1px solid $bg-color-3;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .site-list__item {
    margin-left: 36px;

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 2px;

        background-color: $bg-color-4;
      }
    }
  }

  .site-list__item a {
    padding: 18px 0 10px;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: $font-color-3;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-left: 34px;

    z-index: 10;
  }

  .site-list__item--active::after {
    background-color: $bg-color-1;
  }

  .site-list__item a {
    font-size: 20px;
    font-weight: 400;
    color: $font-color-4;

    background-color: transparent;
  }
}
