.social {
  padding: 20px 0;

  border-top: 1px solid $bg-color-9;
  border-bottom: 1px solid $bg-color-9;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 128px;

  @include list-reset ();
}

.social__link {
  display: block;

  text-decoration: none;

  &--vk {
    width: 22px;
    height: 12px;

    background-image: url("../img/icon-vk.svg");
  }

  &--in {
    width: 16px;
    height: 16px;

    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    width: 12px;
    height: 19px;

    background-image: url("../img/icon-fb.svg");
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;

    border-top: none;
    border-bottom: none;
  }

  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--in {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
